<!-- Footer Component -->
<div class="footer-area-two bg-secondary ptb-120">
    <div class="container mw-1690">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-widget">
                    <a href="/" class="d-inline-block footer-logo">
                        <img src="frontend/assets/images/white-logo.svg" alt="logo">
                    </a>
                    <p class="text-white" data-i18n="footer.newsletter_text">Sign up for our newsletter to get latest weekly updates & news</p>

                    <form class="position-relative z-1 mb-4">
                        <input type="email" class="form-control" data-i18n-placeholder="footer.email_placeholder" placeholder="Enter Your Email">
                        <button type="submit" class="submit-btn position-absolute top-50 end-0 translate-middle-y border-0" data-i18n-title="common.send" title="Send">
                            <img src="frontend/assets/images/send2.svg" alt="send">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-widget ms-xl-5">
                    <h3 data-i18n="footer.get_in_touch">Get In Touch</h3>

                    <ul class="p-0 m-0 list-unstyled info-list">
                        <li class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ti ti-map-pin-filled"></i>
                            </div>
                            <div class="flex-grow-1">
                                <span class="d-block text-white fw-bold fs-18 mb-1" data-i18n="footer.location">Location</span>
                                <p data-i18n="footer.location_value">Doha, Qatar</p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ti ti-mail-filled"></i>
                            </div>
                            <div class="flex-grow-1">
                                <span class="d-block text-white fw-bold fs-18 mb-1" data-i18n="footer.email">Email</span>
                                <a href="mailto:info@qatarpaint.com" data-i18n="footer.email_value">info@qatarpaint.com</a>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="flex-shrink-0">
                                <i class="ti ti-phone-filled"></i>
                            </div>
                            <div class="flex-grow-1">
                                <span class="d-block text-white fw-bold fs-18 mb-1" data-i18n="footer.phone">Phone</span>
                                <a href="tel:+97412345678" data-i18n="footer.phone_value">+974 1234 5678</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-widget ms-xl-5">
                    <h3 data-i18n="footer.our_services">Our Services</h3>

                    <ul class="import-link p-0 m-0 list-unstyled">
                        <li><a href="/services/residential" data-i18n="footer.residential_painting">Residential Painting</a></li>
                        <li><a href="/services/interior" data-i18n="footer.interior_design">Interior Design Consultation</a></li>
                        <li><a href="/services/commercial" data-i18n="footer.commercial_renovation">Commercial Renovation</a></li>
                        <li><a href="/services/consultation" data-i18n="footer.painting_consultation">Painting Consultation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-widget">
                    <h3 data-i18n="footer.follow_us">Follow Us</h3>

                    <ul class="p-0 mb-0 list-unstyled social-link gap-10 align-items-center">
                        <li class="mb-2">
                            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
                                <i class="ti ti-brand-facebook"></i>
                                <span data-i18n="footer.facebook">Facebook</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                                <i class="ti ti-brand-x"></i>
                                <span data-i18n="footer.twitter">Twitter</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
                                <i class="ti ti-brand-instagram"></i>
                                <span data-i18n="footer.instagram">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright Component -->
<div class="copy-right-area bg-secondary py-0">
    <div class="container mw-1690">
        <div class="copy-right-wrap">
            <div class="d-flex flex-wrap gap-10 justify-content-center justify-content-lg-between align-items-center">
                <p class="mb-0 text-white">
                    <span class="text-white" data-i18n="footer.copyright">© Qatar Paint.</span> All Rights Reserved
                </p>

                <div class="d-flex flex-wrap gap-5 policy">
                    <a href="/privacy" class="text-decoration-none" data-i18n="footer.privacy_policy">Privacy Policy</a>
                    <a href="/terms" class="text-decoration-none" data-i18n="footer.terms_conditions">Terms & Conditions</a>
                </div>
            </div>
        </div>
    </div>
</div>
