/* Banner Area Style
============================================*/
.banner-content {
    h1 {
        font-size: 100px;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 1.1;
        margin-bottom: 0;
    }
    .banner-btn {
        margin-top: 40px;

        .call-btn {
            text-decoration: none;

            .icon {
                width: 56px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                display: inline-block;
                background-color: $warning;
                border-radius: 100px;
                transition: $transition;
            }
            .name {
                font-size: 16px;
                color: $body-color;
                margin-bottom: 2px;
            }
            .number {
                font-size: 18px;
                font-weight: 600;
                color: $secondary;
                transition: $transition;
            }
            &:hover {
                .number {
                    color: $primary;
                }
                .icon {
                    background-color: $primary;
                }
            }
        }
    }
}
.banner-img {
    margin-top: 30px;
}
.client-say {
    background-color: $white;
    padding: 33px 33px;
    border-radius: 20px;
    position: absolute;
    bottom: 150px;
    right: 0;
    max-width: 280px;

    i {
        font-size: 20px;
        color: $secondary;
    }
    .rating {
        display: block;
        font-size: 16px;
        margin-bottom: 37px;
        padding-bottom: 37px;
        border-bottom: 1px solid rgba(22, 10, 5, 0.11);
    }
    .user-list {
        margin: 0 4px;

        li {
            margin: 0 -4px;
        }
    }
    p {
        margin-top: 20px;
        span {
            font-weight: 600;
            color: $secondary;
        }
    }
}
.monograms {
    font-weight: 500;
    font-size: 110px;
    line-height: 1;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px #FAF3E9;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: $heading-font-family;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner-content-two {
    h1 {
        font-weight: 500;
        font-size: 80px;
        line-height: 1.13;
        margin-bottom: 10px;
    }
    .banner-btn {
        margin-top: 30px;
        margin-bottom: 100px;
    }
    &.mw-640 {
        max-width: 700px;
    }
}
.banner-img-two {
    .banner-award {
        position: absolute;
        top: 150px;
        left: 10px;
    }
}
.banner-content-three {
    max-width: 700px;

    .top-title {
        background: rgba(255, 255, 255, 0.11);
        color: $white;
    }
    h1 {
        font-weight: 500;
        font-size: 80px;
        line-height: 1.13;
        margin-bottom: 10px;
        color: $white;
    }
    p {
        color: $white;
    }
    .banner-btn {
        margin-top: 30px;
        margin-bottom: 100px;
    }
}
.banner-area-three {
    position: relative;
    z-index: 1;
    padding: 150px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(270deg, rgba(22, 10, 5, 0.75) 0%, rgba(22, 10, 5, 0.6) 45.36%, rgba(22, 10, 5, 0) 70.41%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

}
.page-banner-area {
    position: relative;
    z-index: 1;
    padding-top: 155px;
    padding-bottom: 155px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #160A05;
        opacity: 0.7;
        z-index: -1;
    }
}
.page-banner-content {
    ul {
        gap: 40px;
        line-height: 1;
        margin-top: 10px;
        
        li {
            font-weight: 500;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: -20px;
                width: 1px;
                height: 100%;
                background-color: $white;
                transform: rotate(15deg);
            }
            a {
                text-decoration: none;
                color: $white;

                &:hover {
                    color: $primary;
                }
            }
            span {
                color: $primary;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .banner-area {
        padding: 60px 0;
    }
    .banner-area-two {
        padding: 60px 0;
    }
    .banner-content {
        h1 {
            font-size: 35px;
            margin-bottom: 15px;

            img {
                width: 50px;
            }
        }
        .banner-btn {
            margin-top: 20px;
            
            &.gap-30 {
                gap: 10px;
            }
            .call-btn {
                span {
                    font-size: 14px;
                }
                .number {
                    font-size: 16px;
                }
                .icon {
                    width: 43px;
                    height: 43px;
                    line-height: 43px;
                }
            }
        }
    }
    .monograms {
        font-size: 50px;
    }
    .client-say {
        bottom: 30px;
        position: unset;
        max-width: 100%;
        padding: 25px;

        .rating {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    .banner-content-two {
        h1 {
            font-size: 35px;
        }
        .banner-btn {
           gap: 10px;
           margin-bottom: 25px;
        }
    }
    .banner-content-three {
        h1 {
            font-size: 35px;
        }
        .banner-btn {
           gap: 10px;
           margin-bottom: 25px;
        }
    }
    .banner-img-two {
        .banner-award {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .banner-area-three {
        padding: 60px 0;
    }
    .page-banner-area {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-area {
        padding-top: 70px;
    }
    .banner-area-two {
        padding: 70px 0;
    }
    .banner-content {
        h1 {
            font-size: 65px;
        }
        .banner-btn {
            margin-top: 20px;

            &.gap-30 {
                gap: 10px;
            }
            .call-btn {
                span {
                    font-size: 14px;
                }
                .number {
                    font-size: 16px;
                }
                .icon {
                    width: 47px;
                    height: 47px;
                    line-height: 45px;
                }
            }
        }
    }
    .monograms {
        font-size: 50px;
    }
    .client-say {
        bottom: 30px;
    }
    .banner-content-two {
        h1 {
            font-size: 50px;
        }
        .banner-btn {
            gap: 10px;
            margin-bottom: 25px;
        }
    }
    .banner-content-three {
        h1 {
            font-size: 50px;
        }
        .banner-btn {
            gap: 10px;
            margin-bottom: 25px;
        }
    }
    .banner-img-two {
        .banner-award {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .banner-area-three {
        padding: 70px 0;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .banner-content {
        h1 {
            font-size: 65px;
        }
        .banner-btn {
            &.gap-30 {
                gap: 10px;
            }
        }
    }
    .monograms {
        font-size: 50px;
    }
    .client-say {
        bottom: 30px;
    }
    .banner-content-two {
        padding: 100px 0;
        h1 {
            font-size: 54px;
        }
        .banner-btn {
            gap: 10px;
            margin-bottom: 40px;
        }
    }
    .banner-content-three {
        h1 {
            font-size: 54px;
        }
        .banner-btn {
            gap: 10px;
            margin-bottom: 40px;
        }
    }
    .banner-area-three {
        padding: 80px 0;
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .banner-content {
        h1 {
            font-size: 90px;
        }
        .banner-btn {
            &.gap-30 {
                gap: 3px;
            }
        }
    }
    .monograms {
        font-size: 60px;
    }
    .banner-content-two {
        padding: 100px 0;

        h1 {
            font-size: 65px;
        }
    }
    .banner-content-three {
        h1 {
            font-size: 65px;
        }
    }
}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {
    .banner-area {
        margin-right: 20px;
        margin-left: 20px;
        background-size: contain;
        background-position: right top;
    }
    .banner-img-two {
        margin-right: -145px;

        .img {
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
        }
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    .banner-area {
        background-position: left top;
        background-image: url(../images/banner-bg-shape-rtl.png);
    }
    .banner-area-three {
        &::before {
            background: linear-gradient(-270deg, rgba(22, 10, 5, 0.75) 0%, rgba(22, 10, 5, 0.6) 45.36%, rgba(22, 10, 5, 0) 70.41%);
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
[for-dark-light-data-mode=for-dark] {
    .monograms {
        -webkit-text-stroke: 1px $dark-border-color;
    }
    .client-say {
        background-color: $dark-body-bg;

        i {
            color: $white;
        }
        .rating {
            border-color: $dark-border-color;
        }
        p {
            span {
                color: $white;
            }
        }
    }
    .banner-content {
        .banner-btn {
            .call-btn {
                .name {
                    color: $dark-paragraph-color;
                }
                .number {
                    color: $white;
                }

                &:hover {
                    .number {
                        color: $primary;
                    }
                }
            }
        }
    }
    .banner-area-two {
        background-image: unset;
    }
}