/* FAQ Area Style
============================================*/
.faq-wrapper {
    &.accordion {
        .accordion-item {
            padding: 0;
            margin-bottom: 22px;
            border-radius: 10px;
            border: none;
 
            &:last-child {
                margin-bottom: 0;
            }
            .accordion-header {
                margin-bottom: 0;

                .accordion-button {
                    background-color: $white;
                    border-radius: 10px;
                    padding: 21.5px 30px;
                    color: $secondary;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: normal;
                    border: none;
                    text-transform: capitalize;
                    font-family: $heading-font-family;
                    letter-spacing: 1px;

                    &:focus {
                        box-shadow: none;
                    }
                    &::after {
                        background-image: url(../images/plus.svg);
                    }
                    &:not(.collapsed) {
                        box-shadow: none;
                        &::after {
                            background-image: url(../images/minus.svg);
                        }
                    }
                }
            }
            .accordion-body {
                padding: 18px 30px;
                padding-top: 0;
            }
        }
    }
    &.style-two {
        &.accordion {
            .accordion-item {
                border: 1px solid rgba(22, 10, 5, 0.15);

                .accordion-header {
                    .accordion-button {
                        font-weight: 700;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
.faq-img {
    position: relative;
    z-index: 1;

    .img {
        border-radius: 20px;
    }
    .call-us {
        gap: 25px;
        background-color: $white;
        padding: 30px;
        border-radius: 15px;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        max-width: 434px;
        margin: auto;

        .icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            background-color: $primary;
            text-align: center;
            border-radius: 100px;
        }
        h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        p {
            font-weight: 600;
            a {
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
    
}
.email-us {
    .icon {
        width: 56px;
        height: 56px;
        line-height: 52px;
        background-color: #FFF5E9;
        text-align: center;
        border-radius: 100px;
        border: 1px solid $warning;
    }
    a {
        color: $secondary;
        &:hover {
            color: $primary;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .faq-wrapper {
        &.accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        font-size: 18px;
                        padding: 12px 20px;
                    }
                }
                .accordion-body {
                    padding: 12px 20px;
                    padding-top: 0;
                }
            }
        }
        &.style-two {
            &.accordion {
                .accordion-item {
                    .accordion-header {
                        .accordion-button {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .faq-img {
        .call-us {
            gap: 15px;
            padding: 15px;
            border-radius: 10px;
            bottom: 0;

            .icon {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
            }
        }
        
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .faq-wrapper {
        &.accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .faq-img {
        .call-us {
            gap: 15px;
            padding: 15px;
            border-radius: 10px;
            bottom: 20px;

            .icon {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
            }
        }
        
    }
}

@media (min-width: 1399px) {
    .faq-wrapper {
        &.style-two {
            margin-left: 75px;

            &.accordion {
                .accordion-item {
                    .accordion-header {
                        .accordion-button {
                            padding: 28.5px 30px;
                        }
                    }
                }
            }
        }
    }
    .faq-content {
         &.style-three {
            max-width: 647px;
        }
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    .accordion-button {
        &::after {
            margin-left: 0;
            margin-right: auto;
        }
    }

    @media (min-width: 1399px) {
        .faq-wrapper {
            &.style-two {
                margin-left: 0;
                margin-right: 75px;
            }   
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
[for-dark-light-data-mode=for-dark] {

    .faq-wrapper {
        &.accordion {
            .accordion-item {
                background-color: $dark-body-bg;
                border-color: $dark-border-color;
                .accordion-header {
                    .accordion-button {
                        background-color: $dark-card-bg;
                        border-color: $dark-body-bg;
                    }
                }
                .accordion-body {
                    border-color: $dark-border-color;
                    p {
                        color: $white;
                    }
                }
            }
        }
    }
    .get-to-know-us-list {
        li {
            img {
                filter: brightness(100);
            }
        }
    }
    .faq-img {
        .call-us {
            background-color: $dark-card-bg;
        }
    }
    .email-us {
        .icon {
            background-color: $dark-card-bg;
            img {
                filter: brightness(100);
            }
        }
        a {
            color: $white;

            &:hover {
                color: $primary;
            }
        }
    }
}